<section id="contact">
    <div class="container">
        <div class="row">
            <center>
              <img src="img/logo 360 eye blue.jpg " class="img-responsive" alt="LOGO" width="300">
                <a href=""www.360.unipr.it{{ www.360.unipr.it }}"
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Teniamoci in contatto!</h2>
                <hr class="primary">
                <p>Vuoi creare un progetto con noi? 
                    <br>scrivici</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ federico.monaco@unipr.it }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ federico.monaco@unipr.it }}</p>
            </a>
            </div> 
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/SFASS/SFASS.github.io{{ https://github.com/SFASS/SFASS.github.io }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ https://github.com/SFASS/SFASS.github.io }}</p>
            </a>
        </div>

    </div>
</section>
